<!-- <div  class="sound-popup">
<div class="sound" *ngIf="voicePath">
  <div class="sound-bg">
    <div class="img-volume">
      <ion-img
      class="animate__animated animate__jello animate__delay-2s animate__bounce animate__infinite"
      (click)="startAudio(voicePath)" src="../../../assets/icon/Vector.png">
    </ion-img>
    </div>
  </div>
  <img class="danish-flag" [src]="userInfo.languageIcon" alt="" />
</div>
<div class="sound" *ngIf="voicePathDanish">
  <div class="sound-bg">
    <div class="img-volume">
      <ion-img
      class="animate__animated animate__jello animate__delay-2s animate__bounce animate__infinite"
      (click)="startAudio(voicePathDanish)" src="../../../assets/icon/Vector.png">
    </ion-img>
    </div>
  </div>
  <img class="danish-flag" src="../../../assets/icon/da.png" alt="" />
</div>
</div> -->


<ion-grid>
  <ion-row>
    <ion-col size="12">
      <ion-img class="image-question" loading="lazy" [src]="imagePath"></ion-img>
    </ion-col>
  </ion-row>
</ion-grid>
