<ion-content>

<div class="card-block">

  <div class="top-title">
    <h3> Forget Password</h3>
  </div>

<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-lg="6">
      <form [formGroup]="forgetPasswordForm" *ngIf="forgetPasswordForm"
      (ngSubmit)="onResetPassword()">
      <ion-item #theItem>
        <ion-label position="floating">
          <ion-icon name="person"></ion-icon> enter email
        </ion-label>
          <ion-input type="text" formControlName="Email" required></ion-input>
        </ion-item>
          <ion-text color="danger" class="error ion-padding" *ngIf="forgetPasswordFormErrors.Email">
            {{forgetPasswordFormErrors.Email }}
          </ion-text>

        <ion-button type="button" [disabled]="forgetPasswordForm.invalid" 
        (click)="onResetPassword()" 
        > Reset </ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>
</div>

</ion-content>
