<div class="success-block">
  <h3> Reviews </h3>
  <div class="success-reviews">
  <div class="user-course-status__left">
    <img src="../../../../assets/images/user-profile.jpg" loading="lazy" alt="" />
  </div>

  <div class="user-course-status__center">
    <h3> khaled </h3>
    <p> Great app at a reasonable price. So great to have such app! </p>
  </div>

  <div class="user-course-status__right">
    <div>
      <ngb-rating style="color: #FFCC26; font-size: 20px;" [(rate)]="rate" [max]="5" [readonly]="true" ></ngb-rating>
    </div>
  </div>
  </div>
  <div class="success-reviews">
  <div class="user-course-status__left">
    <img src="../../../../assets/images/user-profile.jpg" loading="lazy" alt="" />
  </div>

  <div class="user-course-status__center">
    <h3> khaled </h3>
    <p> Great app at a reasonable price. So great to have such app! </p>
  </div>

  <div class="user-course-status__right">
    <div>
      <ngb-rating style="color: #FFCC26; font-size: 20px;" [(rate)]="rate" [max]="5" [readonly]="true" ></ngb-rating>
    </div>
  </div>
  </div>
  <div class="success-reviews">
  <div class="user-course-status__left">
    <img src="../../../../assets/images/user-profile.jpg" loading="lazy" alt="" />
  </div>

  <div class="user-course-status__center">
    <h3> khaled </h3>
    <p> Great app at a reasonable price. So great to have such app! </p>
  </div>

  <div class="user-course-status__right">
    <div>
      <ngb-rating style="color: #FFCC26; font-size: 20px;" [(rate)]="rate" [max]="5" [readonly]="true" ></ngb-rating>
    </div>
  </div>
  </div>
</div>
