<div class="header-mobile">
  <app-top-menu-mobile></app-top-menu-mobile>

</div>

<div class="header-desktop">
  <app-top-header-desktop></app-top-header-desktop>
</div>

<ion-content>

<ion-spinner *ngIf='isLoading' color="primary" name="crescent"></ion-spinner>

<div class="test-top">
  <div class="top-title">
    <h3> Multiple choice </h3>
    <ion-icon (click)="presentModal()" name="help-circle-outline"></ion-icon>
  </div>
</div>

<form *ngIf="exerciseItems" [formGroup]="multiForm">
  <!-- Animation Element -->
  <div class="select-animate">
    <img src="../../../assets/images/select.png" />
  </div>
  <!-- Animation Element -->

  <h3 class="total-result"> {{ (currentIndex+1)  + ' / ' +  lengthQuestion}} </h3>

  <ion-slides [pager]="false" #slides [options]="slideOpts">
  <ion-slide >

  <ion-grid>
    <ion-list class="multi-choice">
      <ion-grid class="sound-group">
        <ion-row>
         <ion-col size-lg="4" size-md="4" size-sm="6" size-xs="4">
            <div *ngIf="exerciseItems[0].voiceDanishPath">
              <div class="sound-question">
                  <div class="img-volume">
                    <ion-icon  class="animate__animated animate__jello animate__delay-2s animate__bounce animate__repeat-2" [name]="!exerciseItems[0].audioElementDanish.status? 'play' : 'stop'" (click)="playAudio(exerciseItems[0].audioElementDanish,1)">
                    </ion-icon>
                  </div>
                <img class="danish-flag" src="../../../assets/icon/da.png" alt="" />
              </div>
            </div>
      </ion-col>
      <ion-col size-lg="4" size-md="4" size-sm="6" size-xs="4">
        <div *ngIf="exerciseItems[0].multiChoiceTranslations[0]?.voicePath">
          <div class="sound-question">
              <div class="img-volume">
                <ion-icon  class="animate__animated animate__jello animate__delay-2s animate__bounce animate__repeat-2" [name]="!exerciseItems[0].audioElement.status? 'play' : 'stop'" (click)="playAudio(exerciseItems[0].audioElement,1,'native')">
                </ion-icon>
              </div>
            <img class="img-lang" [src]="userInfo.languageIcon" alt="" />
          </div>
        </div>
      </ion-col>
      </ion-row>
      </ion-grid>

      <ion-list-header>

        <ion-text>
          {{ exerciseItems[0].question }}
        </ion-text>

      </ion-list-header>

      <ion-radio-group formControlName="answer">
        <div class="select-dots"></div>
        <div class="answer" *ngFor="let item of resultAnswerItems">
        <ion-item (click)="playAudio(item,2)">
          <ion-label>{{ item.answer }}</ion-label>
          <ion-radio [value]="item.id"></ion-radio>
          <div class="sound" *ngIf="item.audioElement.audio">
            <div class="sound-bg">
                  <div class="img-volume">
                    <ion-icon  class="animate__animated animate__jello animate__delay-2s animate__bounce animate__repeat-2" [name]="!item.audioElement.status? 'play' : 'stop'" >
                    </ion-icon>
                  </div>
              </div>
              <img class="langauge-img" [src]="userInfo.languageIcon" alt="" />
            </div>
      </ion-item>

    </div>
      </ion-radio-group>

  <ion-grid>
    <ion-row class="ion-padding ion-justify-content-center">
      <ion-col size="12" size-lg="6">
        <ion-button
          [ngClass]="{'hideButtonNext': multiForm.invalid}"
          (click)="slidePrev()">
            Prev
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="12" size-lg="6">
        <ion-button
        [ngClass]="{'hideButtonNext': multiForm.invalid }"
        (click)="slideNext(exerciseItems[0].id, multiForm.value.answer)">
          Next
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

    </ion-list>
  </ion-grid>
</ion-slide>
</ion-slides>
</form>
</ion-content>


