.ext-icon-vlume {
  color: var(--ion-color-training-text);
  font-size: 34px;
}

/* header Top */
ion-header ion-img {
  width: 35px;
  height: auto;
  margin-top: 10px;
}


.img-profile {
  display: flex;
  justify-content: center;
  align-items: center;

  ion-avatar {
    width: 60px;
    margin: 5px 0;
    height: 60px;
  }

  ion-label {
    font-size: 14 px;
    padding-left: 10px;
  }
}

/* end header top */

.test-top{
  margin-bottom: 30px;
  ion-icon {
    color: var(--ion-color-second-app);
    font-size: 40px;
    cursor: pointer;
    position: relative;
    top: 13px;
    margin-right: 20px;
  }
}

.drag-group {
  width: 100%;
}

.puzzle-text{

  .block {
    margin-bottom: 11px;
    padding: 0 9px;
    color: #000000de;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: #fff;
    font-size: 14px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  .sound {

    border: 1px solid  var(--ion-color-training-text);
    border-radius: 10px;
    margin-bottom: 10px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;

    .sound-bg {
      width: 30px;
      height: 30px;
      text-align: center;

      .img-volume {
        @extend .ext-icon-vlume;
      }
    }
  }

  ion-text {
    font-size: 18px;
    font-weight: 600;
    margin-right: 20px;
  }

  @media (min-width: 768px) {
    ion-img {
      width: 70%;
      height: auto;
      margin: auto
    }
  }
}

.puzzle-answer {
  position: relative;

  // Animation element
.puzzle_animation-element {
    position: absolute;
    top: 0;
    transform: translate(0, 0);
    z-index: 2000;
    width: 99%;
    height: 110px;
    border: 5px dashed  #8AFA6F;
    border-radius: 10px;
    background-color: #fff;
    justify-content: center;
    display: flex;
    align-items: center;

    -webkit-animation: selectAnimate 6s ease-in-out 3 forwards;
    -o-animation: selectAnimate 6s ease-in-out 3 forwards;
    -moz-animation: selectAnimate 6s ease-in-out 3 forwards;
    animation: selectAnimate 6s ease-in-out 3 forwards;
}

@keyframes selectAnimate {
  0% {
    transform: translate(0, 0);
  }
  // 25% {
  //   transform: translate(-104%, -4px);
  // }
  50% {
    transform: translate(-104%, -4px);
  }
  100% {
    transform: translate(-104%, -4px);
    visibility: hidden;
  }
}

// Animation element


  .puzzle-fix {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255 255 255);
    border: 1px dotted rgb(63 81 181);
    height: 100px !important;
    margin: 0 0 10px 0;
    border-radius: 10px;
    width: 100% !important;
    padding-left: 30px;


    .title {
      font-size: 22px;
      font-weight: 500;
      color: var(--ion-color-training-text);
    }

    .sound {

      border: 2px solid  var(--ion-color-training-text);
      border-radius:10px;
      padding: 8px 15px;
      max-width: 100%;
      margin-right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 30px;
        height: auto;
       }

      .sound-bg {
        display: inline-block;
        width: 35px;
        height: 35px;
        border-radius: 50px;
        margin-right: 10px;
        text-align: center;

        .img-volume {
          @extend .ext-icon-vlume;
        }
      }
    }

  }
}

.img-langauge {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 13px;
  top: 14px;
  border: 1px solid #ccc;
}


/************* DRAG AND DROP *****************/

.cdk-drag-preview {

  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background-color: white;
  padding: 10px!important;
  width: 20%!important;
  margin: auto;
  height: auto!important;
  font-size: 22px;
  font-weight: 600;
  color: var(--ion-color-second-app);


  .sound {
    max-width: 100%;
    text-align: right;
    margin-top: -20px;
  }

    .sound-bg {
      display: inline-block;
      width: 30px;
      height: 30px;
      // text-align: center;
      // border-radius: 50px;
      margin-right: 10px;
    }

      .img-volume {
        text-align: center;
        margin: auto;
        width: 18px;
        height: 18px;
        position: relative;
        top: 9px;
      }

      img {
        width: 30px;
        height: auto;
       }


}


.cdk-drop-list-dragging{
  background-color:rgba(167, 247, 129, 0.6);
  color: var(--ion-color-second-app);
}


.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

  // .example-custom-placeholder {
  //   background: #ccc;
  //   border: dotted 3px #999;
  //   min-height: 60px;
  //   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  // }

  // .cdk-drag  {
  //   background-color: #A7F781;
  //   width: 100%;
  //   height: 100%;
  //   padding: 0;
  //   color: var(--ion-color-second-app);
  // }

/************* DRAG AND DROP *****************/

.hideButtonNext {
  display: none;
}

.showButtonNext {
  display: block;
}

.ion-text-center {
  font-size: 16px;
}

.total-result {
  font-size: 18px;
  font-weight: 800;
  color: var(--ion-color-second-app);
  text-align: center;
  background-color: #a7f781;
  width: 60px !important;
  height: 60px !important;
  border-radius: 50px;
  line-height: 60px ;
  padding: 20px;
}




@media(max-width: 767px) {
  .puzzle-text .block {
    height: 86px;
  }

  .puzzle-text ion-text {
    font-size: 14px;
  }

  .puzzle-answer .puzzle-fix {
    height: 45px !important;
    padding-left: 0;
  }

  .puzzle-answer .puzzle-fix .title {
    font-size: 16px;
  }

  .cdk-drag-preview {
    width: 50%!important;
    font-size: 16px;
  }

  .total-result{
    font-size: 16px;
    padding: 11px;
}

.puzzle-answer {
  margin-top: 0;
}

.top-title h3 {
  margin: 30px 0 0 0;
}

.test-top{
  margin-bottom: 0;
}

}
