<div class="header-mobile">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button> </ion-back-button>
      </ion-buttons>

      <ion-menu-button slot="start"></ion-menu-button>


      <div class="img-profile">
        <ion-avatar slot="end">
          <img *ngIf="userInfo.imagePath" [src]="userInfo.imagePath">
          <img *ngIf="userInfo === '' || userInfo.imagePath === null || userInfo.imagePath === undefined"
          src="../../../assets/images/image profille (1).png">
        </ion-avatar>
        <ion-label>{{ userInfo.firstname + ' ' +  userInfo.lastname }}</ion-label>
      </div>

      <ion-avatar class="ion-margin-end"  slot="end">
        <img class="img-langauge" [src]="userInfo.languageIcon">
      </ion-avatar>
    </ion-toolbar>
  </ion-header>
</div>

<div class="header-desktop">
  <app-top-header-desktop></app-top-header-desktop>
</div>

  <div class="test-top ion-text-center">
    <div class="top-title">
      <h3>Puzzle text </h3>
      <ion-icon slot="end" (click)="presentModal()"  name="help-circle-outline"></ion-icon>
      <ion-text class="total-result"> {{ lengthQuestion + ' / ' + (currentIndex+1) }} </ion-text>
    </div>
  </div>

<ion-content>

<ion-spinner *ngIf='isLoading' color="primary" name="crescent"></ion-spinner>

  <ion-slides class="swiper-no-swiping" [pager]="false" #slides [options]="slideOpts">

    <ion-slide>

      <div cdkDropListGroup class="drag-group">

        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col size="12" size-lg="6">

              <ion-grid class="puzzle-text">
                <ion-row>
                  <ion-col size="12"
                    class="block"
                    cdkDropList
                    *ngFor="let item of questionsArray"
                    [cdkDropListData]="item"
                    cdkDropListSortingDisabled
                    cdkDropListOrientation="horizontal"
                    (cdkDropListDropped)="drop($event)">

                    <div *ngFor="let item2 of item" [cdkDragDisabled]="item2.disabled" cdkDrag>
                      <div class="sound" *ngIf="item2.voicePath">
                        <div class="sound-bg">
                          <div class="img-volume">
                            <ion-icon
                              class="animate__animated animate__jello animate__delay-2s animate__bounce animate__repeat-2" [name]="!item2.audioElement.status? 'play' : 'stop'" (click)="playAudio(item2)" >
                            </ion-icon>
                          </div>
                        </div>
                        <img class="danish-flag" [src]="item2.flag" alt="" />
                      </div>

                      <ion-text color="primary"> {{ item2.text }} </ion-text>
                    </div>



                  </ion-col>
                </ion-row>
              </ion-grid>

            </ion-col>

            <ion-col size="12" size-lg="6">

              <ion-grid class="puzzle-answer">
                <ion-row>
                    <ion-col color="primary"
                    size="12"
                    cdkDropList
                    [cdkDropListData]="answersArray"
                    (cdkDropListDropped)="drop($event)">

                    <div class="puzzle-fix" *ngFor="let item of answersArray" cdkDrag>

                      <div class="title"> {{ item.text }} </div>
                        <div class="sound" *ngIf="item.voicePath">
                          <div class="sound-bg">
                              <div class="img-volume">
                                <ion-icon  class="animate__animated animate__jello animate__delay-2s animate__bounce animate__repeat-2" [name]="!item.audioElement.status? 'play' : 'stop'" (click)="playAudio(item)" >
                                </ion-icon>
                              </div>
                            </div>
                            <img [src]="item.flag" alt="" />
                          </div>
                      </div>

                  </ion-col>

                </ion-row>
              </ion-grid>

            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row class="ion-padding ion-justify-content-center">

            <ion-col size="12" size-lg="4" [ngClass]="{'hideButtonNext': answersArray.length > 0 }">
              <ion-button  (click)="slidePrev()">
                Prev
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </ion-button>
            </ion-col>

            <ion-col size="12" size-lg="4" [ngClass]="{'hideButtonNext': answersArray.length > 0 }">
              <ion-button  (click)="slideNext()">
                Next
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

    </div>


    </ion-slide>

  </ion-slides>

</ion-content>


