<div class="header-mobile">
  <app-top-menu-mobile></app-top-menu-mobile>
</div>

<div class="header-desktop">
  <app-top-header-desktop></app-top-header-desktop>
</div>

<ion-content>

  <ion-tabs >

    <!-- <ion-tab-bar slot="bottom">
      <ion-tab-button tab="all-courses">
        <ion-icon name="grid-outline"></ion-icon>
        <ion-label>All Courses</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="my-courses">
        <ion-icon name="documents-outline"></ion-icon>
        <ion-label>My Courses</ion-label>
      </ion-tab-button>

    </ion-tab-bar> -->

  </ion-tabs>

</ion-content>


