<ion-content>

  <ion-card>
    <img src="../../../assets/images/finish-line-black.png" alt="">
    <ion-card-content>
      Thank you to finished This Test please click to finished or previous
    </ion-card-content>

    <ion-grid>
      <ion-row>
        <ion-col size="6"> <ion-button (click)="prev()" fill="outline">Previous</ion-button></ion-col>
        <ion-col size="6"><ion-button (click)="finishedTest()" fill="outline">Finished</ion-button></ion-col>


      </ion-row>
    </ion-grid>

  </ion-card>

</ion-content>
