
<ion-content>

  <ion-spinner *ngIf='isLoading' color="primary" name="crescent"></ion-spinner>

  <ion-grid class="course_material">
    <ion-row>
      <!-- Start Details content -->
      <ion-col ion-col size-lg="7" size-md="8" size-sm="6" size-xs="12" *ngIf="CourseDetails" class="course-details_left">
        <!-- title -->
          <h2 *ngIf="CourseDetails.courseTranslations" id="title" class="font-title-desktop ion-text-center">
            {{ CourseDetails.courseTranslations[0].title }}
          </h2>
        <!-- title -->

        <!-- Content -->
        <div *ngIf="CourseDetails.courseTranslations[0].description !== null">
          <div class="desc">
            <ion-text>
              {{ CourseDetails.courseTranslations[0].description }}
            </ion-text>
          </div>
        </div>
        <!-- Content -->

        <!-- Start sound voice -->
        <div *ngIf="CourseDetails.courseTranslations[0]?.introVoicePath" class="sound-inro">
          <div class="img-person">
            <img class="intro-logo" src="../../assets/images/char-person.png" />
          </div>
        <div class="icon-sound">
          <div class="img-volume">
            <ion-img
            class="animate__animated animate__jello animate__delay-2s animate__bounce animate__repeat-3"
            (click)="startAudio(CourseDetails.courseTranslations[0]?.introVoicePath)" src="../../../assets/icon/Vector.png">
          </ion-img>
          </div>
        </div>
      </div>
      <!-- End sound voice -->

      <!-- End Details content -->
      </ion-col>

      <!-- Start right block -->
      <ion-col *ngIf="CourseDetails" size-lg="3" size-md="4" size-sm="6" size-xs="12" class="course-right-block">

        <div class="card-block">
          <div *ngIf="CourseDetails" class="course-info">
            <ion-img loading="lazy" [src]="CourseDetails.imagePath"></ion-img>
          </div>

          <ul *ngIf="userCourseDetails">
            <li> <ion-icon slot="start" name="time-outline"></ion-icon> <strong> From: </strong> {{ userCourseDetails['startDate'] | date }}  </li>
            <hr />
            <li> <ion-icon slot="start" name="time-outline"></ion-icon> <strong> To: </strong> {{ userCourseDetails['endDate'] | date }}  </li>
            <hr />
            <li> <ion-icon slot="start" name="time-outline"></ion-icon> <strong> Valid For: </strong> {{ validCourse }} day </li>
          </ul>

          <div class="btn-button" *ngIf="CourseDetails">
              <ion-button  [routerLink]="['/courses/course-material',
              CourseDetails.courseTranslations[0].courseId]"  (click)="startTrackUser()" [queryParams]="{offset: offset}" routerDirection="root"> Material </ion-button>

              <ion-button (click)="sendIdToExercisePage()"> Exercise </ion-button>

              <ion-button (click)="sendIdToFinalTestPage()">
                <ion-icon name="lock-closed-outline" class="final"></ion-icon>
                  Final Test
              </ion-button>
          </div>
        </div>

        <div class="video-inro card-block" *ngIf="CourseDetails">
          <video *ngIf="CourseDetails?.courseTranslations[0]?.introVideoPath" width="100%" height="230" controls>
            <source [src]="CourseDetails.courseTranslations[0].introVideoPath" type="video/mp4">
          </video>
        </div>



      </ion-col>
      <!-- End Right block -->
    </ion-row>
  </ion-grid>

</ion-content>

