.rating {
  text-align: center;
  padding-top: 40px;

  h3 {
    font-weight: 900;
    font-size: 26px;
  }

  p {
      font-size: 22px;
      width: 60%;
      line-height: 30px;
      margin: 0 auto;
      font-weight: 500;
      padding-top: 10px;
  }

  .add-rate {
    margin: 40px 0;

    button {
      background-color: #062F87;
      font-size: 18px;
      font-weight: 700;
      border-radius: 15px;
      margin-top: 30px;
      padding: 10px 20px;
    }
  }
}

span {
    font-size: 60px !important;
    color: #ffcc26 !important;
}


textarea.form-control {
  width: 60%;
  margin: 20px auto;
  height: 120px;
}
