<div class="card-block">
  <div class="sign-in-form">

    <div class="top-title">
      <h3> {{ 'New Password' }} </h3>
    </div>
    
    <ion-grid [formGroup]="resetPassword" (ngSubmit)="onResetPassword()" >
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-lg="6" >
          <ion-item #theItem>
            <ion-label position="floating">
              <ion-icon ></ion-icon> New Password </ion-label>
              <ion-input type="password" formControlName="newPassword" required></ion-input>
            </ion-item>
            <br />
            <br />
            <ion-button type="button" (click)="onResetPassword()" [disabled]="resetPassword.invalid"> 
              Save 
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</div>
