  <ion-header class="course">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/courses/tabs/all-courses"> </ion-back-button>
      </ion-buttons>

      <ion-menu-button slot="start"></ion-menu-button>
      <div class="img-profile">
        <ion-label>{{ userInfo.nickname}}</ion-label>
      </div>
      <div class="ion-margin-end"  slot="end">
        <ion-toggle  (ionChange)="onToggleColorTheme($event)" color="primary"></ion-toggle>
      </div>

    </ion-toolbar>
  </ion-header>
