<div class="header-mobile">
  <app-top-menu-mobile></app-top-menu-mobile>

</div>

<div class="header-desktop">
  <app-top-header-desktop></app-top-header-desktop>
</div>

<div class="top-title faq">
  <h3> Success board </h3>
</div>

<ion-content class="ion-padding">

  <ion-grid class="success-board">
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="4" size-md="6" size-sm="12" size-xs="12">
        <app-videos [successData]="allDataSuccess" [isLoadingData]="isLoading"></app-videos>
      </ion-col>
      <ion-col size-lg="4" size-md="6" size-sm="12" size-xs="12">
        <app-reviews [successRating]="allDataRatng" [isLoadingData]="isLoading"></app-reviews>
      </ion-col>
      <ion-col size-lg="4" size-md="6" size-sm="12" size-xs="12">
        <app-images [successData]="allDataSuccess" [isLoadingData]="isLoading"></app-images>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
