<div class="top_score_block">
  <div class="top_score_block__image">
    <img src="../../../../assets/images/top-score-img.png" alt=""  />
    <span> username </span>
  </div>
  <div class="top_score_block__text">
      <h5> 966 points </h5>
  </div>
</div>

<div class="top_score_block">
  <div class="top_score_block__image">
    <img src="../../../../assets/images/top-score-img.png" alt=""  />
    <span> username </span>
  </div>
  <div class="top_score_block__text">
      <h5> 966 points </h5>
  </div>
</div>

<div class="top_score_block">
  <div class="top_score_block__image">
    <img src="../../../../assets/images/top-score-img.png" alt=""  />
    <span> username </span>
  </div>
  <div class="top_score_block__text">
      <h5> 966 points </h5>
  </div>
</div>

<div class="top_score_block">
  <div class="top_score_block__image">
    <img src="../../../../assets/images/top-score-img.png" alt=""  />
    <span> username </span>
  </div>
  <div class="top_score_block__text">
      <h5> 966 points </h5>
  </div>
</div>
