.top_score_block {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  .top_score_block__image {
    img{
      width: 60px;
      height: 60px;
      margin-top: 0;
      border-radius: 50px;
      border: 3px solid #062f87;
    }

    span {
      margin-left: 15px;
      font-weight: 600;
      font-size: 15px;
      color: #062F87;
    }
  }

  .top_score_block__text {
    display: flex;
    align-items: center;
    h5 {
      font-weight: 600;
      font-size: 15px;
      color: #062F87;
      margin: 0;
    }
  }

}
