img {
  max-width: 70%;
  height: auto;
  border-radius: 20%;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  border-radius: 20px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #062f87;
  border-radius: 20px !important;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8AFA6F;
}
