<ion-content>

  <ion-spinner *ngIf='isLoading' color="primary" name="crescent"></ion-spinner>

  <ion-slides *ngIf="lengthItems != pageNumber" class="swiper-no-swiping" [pager]="false" #slides [options]="slideOpts">
    <ion-slide>

    <div cdkDropListGroup class="drag-group">

      <ion-grid>
        <ion-row>
          <ion-col size="12" size-lg="6">
            <ion-grid>

              <ion-row>

                <ion-col size="12"
                  class="example-box"
                  cdkDropList
                  *ngFor="let item of questionsArray"
                  [cdkDropListData]="item"
                  cdkDropListSortingDisabled
                  cdkDropListOrientation="horizontal"
                  (cdkDropListDropped)="drop($event)"
                >
                <div *ngFor="let item2 of item">

                  <ion-img
                    class="image-question"
                    loading="lazy" *ngIf="item2.type === 'question' "
                    (click)="presentPopover($event, item2)"
                    [src]="item2.imagePath" cdkDrag [cdkDragDisabled]="true">
                  </ion-img>


                  <div class="drag-answer" *ngIf="item2.type === 'answer' ">
                    <ion-grid class="puzzle-answer">
                      <ion-row>

                        <ion-col
                          size="12"
                          >
                          <div class="puzzle-fix" cdkDrag [cdkDragDisabled]="false">
                            <div class="title"> {{ item2.keyword }}</div>
                          </div>
                        </ion-col>

                      </ion-row>
                    </ion-grid>

                  </div>
                </div>

                </ion-col>

              </ion-row>

            </ion-grid>
          </ion-col>

          <ion-col size="12" size-lg="6">
            <ion-grid class="puzzle-answer">
              <ion-row>
                <ion-col
                  size="12"
                  cdkDropList
                  [cdkDropListData]="answersArray"
                  (cdkDropListDropped)="drop($event)"
                  >
                  <div class="puzzle-fix"*ngFor="let item of answersArray" cdkDrag>

                  <div class="title"> {{ item.keyword }}</div>

                  </div>
                </ion-col>

              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>






    </div>
  </ion-slide>
</ion-slides>
<app-test-finished *ngIf="lengthItems === pageNumber"></app-test-finished>


  <ion-grid *ngIf="lengthItems !== pageNumber">
    <ion-row class="ion-align-items-center slide-button">

      <ion-col size="4">
        <ion-button
        *ngIf="nextButton"
        (click)="slidePrev()"> <ion-icon name="chevron-back-outline"></ion-icon> prev </ion-button>
      </ion-col>

      <ion-col size="4">
        <ion-button
          (click)="ScapeSlidePrev()"
          >  Escape <ion-icon name="chevron-forward-outline"></ion-icon> </ion-button>
      </ion-col>

      <ion-col size="4">
        <ion-button
        *ngIf="nextButton"
          (click)="slideNext()"
          >  next <ion-icon name="chevron-forward-outline"></ion-icon> </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid style="position: relative; top: -150px;" *ngIf="lengthItems === pageNumber">
    <ion-row class="ion-align-items-center slide-button">

      <ion-col size="6">
        <ion-button
        *ngIf="nextButton"
        (click)="finishSlidePrev()"> <ion-icon name="chevron-back-outline"></ion-icon> prev </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button
        *ngIf="nextButton"
          (click)="finishedTest()"
          >  Submit <ion-icon name="chevron-forward-outline"></ion-icon> </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>


</ion-content>
