.ext-icon-vlume {
  width: 24px;
  height: 24px;
}


.img-course-intro {
  margin-bottom: 30px;

  ion-row {
    justify-content: center;
  }
}

  .icon-sound {
    background-color: #A7F781;
    border: 3px dotted #fff;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: auto;
    inset: 0;

    .img-volume {
      @extend .ext-icon-vlume;
    }

  }


/* header Top */
ion-icon {font-size: 35px;}

ion-header ion-img {
  width: 35px;
  height: auto;
  margin-top: 10px;
}


.img-profile {
  display: flex;
  justify-content: center;
  align-items: center;

  ion-avatar {
    width: 60px;
    margin: 5px 0;
    height: 60px;
  }

  ion-label {
    font-size: 15px;
    padding-left: 10px;
  }
}

/* end header top */

ion-tabs ion-icon {
  color: #fff;
  font-size: 22px;
}

ion-tabs ion-label {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 0
}

// ion-tab-button {
//   --color-selected: #fff;
//   --background-focused: #fff;
// }


ion-button {
  width: 53px;
  height: 53px;
  --background: #A7F781;
  border: 1px solid #fff;

}

ion-icon {
  --color: var(--ion-color-second-app);
  font-size: 20px;
}



ion-tab-button.tab-selected ion-label {
  color: #A7F781!important;
  font-weight: bold;
}

ion-tab-button.tab-selected ion-icon {
  color: #A7F781!important;
}

// h3.training-title {
//   font-size: 22px;
//   color: var(--ion-color-second-app);
//   font-weight: 600;
//   margin: 30px 0  0 0;
//   text-align: center;
//   text-transform: normal;
// }

.training {
  margin-bottom: 40px;
}

.col-block {
  background-color: #fff;
  -webkit-box-shadow: 2px 3px 5px 0px #0000001A;
  -moz-box-shadow: 2px 3px 5px 0px #0000001A;
  -o-box-shadow: 2px 3px 5px 0px #0000001A;
  box-shadow: 2px 3px 5px 0px #0000001A;
  border: 1px solid #cccccca6;
  text-align: center;
  margin: 20px auto 0 auto;
  max-width: 80%;
  padding: 15px 0;
  border-radius: 10px;
  cursor: pointer;
  height: 170px;
  line-height: 40px;
  transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(0.9);
  }
  ion-img {
    width: 35px;
    height: auto;
    margin: 10px auto;
  }

  ion-text {
    color: var(--ion-color-training-text) ;
    font-size: 18px;
    font-weight: 600;
  }

  .exercice-count {
    background-color: #A7F781;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    text-align: center;
    line-height: 40px;
    margin: auto;
    padding: 7px;

    h3 {
      color: var(--ion-color-second-app);
      font-size: 18px;
      font-weight: 800;
    }
  }
}

