<div class="header-mobile">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button> </ion-back-button>
      </ion-buttons>
  
      <ion-menu-button slot="start"></ion-menu-button>
  
  
      <div class="img-profile">
        <ion-avatar slot="end">
          <img *ngIf="userInfo.imagePath" [src]="userInfo.imagePath">
          <img *ngIf="userInfo === '' || userInfo.imagePath === null || userInfo.imagePath === undefined"
          src="../../../assets/images/image profille (1).png">
        </ion-avatar>
        <ion-label>{{ userInfo.firstname + ' ' +  userInfo.lastname }}</ion-label>
      </div>
  
      <ion-avatar class="ion-margin-end"  slot="end">
        <img class="img-langauge" [src]="userInfo.languageIcon">
      </ion-avatar>
    </ion-toolbar>
  </ion-header>
</div>

<div class="header-desktop">
  <app-top-header-desktop></app-top-header-desktop>
</div>

<ion-content class="training">

  <ion-grid class="img-course-intro">
    <ion-row>
      <ion-col size="10" size-lg="4">
        <ion-img src="../../../assets/images/img-intro.png"></ion-img>
        <div class="icon-sound">
          <div class="img-volume">
            <ion-img
            class="animate__animated animate__jello animate__delay-2s animate__bounce animate__infinite" src="../../../assets/icon/Vector.png">
          </ion-img>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <div class="top-title">
      <h3> Please choose an exercise </h3>
    </div>  
    
    <ion-row class="ion-align-self-center">
      <!-- Block -->
      <ion-col
      *ngFor="let item of chooseTraining" size-lg="3" size-md="6" size-xs="12"
      (click)="goToCatExercise(item.url, item.exerciseId, item.courseId)">
        <div class="col-block">
          <ion-img [src]="item.img"></ion-img>
          <ion-text><a> {{item.name}} </a></ion-text>
          <div class="exercice-count" *ngIf="item.exerciseId === 1"> 
            <h3> {{ singleExerciseCount }} </h3> 
          </div>

          <div class="exercice-count" *ngIf="item.exerciseId === 2"> 
            <h3> {{ multiExerciseCount }} </h3> 
          </div>

          <div class="exercice-count" *ngIf="item.exerciseId === 3"> 
            <h3> {{ textExerciseCount }} </h3> 
          </div>

          <div class="exercice-count" *ngIf="item.exerciseId === 4"> 
            <h3> {{ imageExerciseCount }} </h3> 
          </div>
          
      </div>
      </ion-col>

      <!-- End Block -->

    </ion-row>
  </ion-grid>

</ion-content>


