<div class="top_score_user">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="1" size-md="4" size-sm="3" size-xs="3"  class="top_score_user__second">
        <img src="../../../../assets/images/user-profile.jpg
        " />
        <h3> 2 </h3>
        <h4> mohamed </h4>
        <p> 600 </p>
      </ion-col>
      <ion-col size-lg="1" size-md="4" size-sm="3" size-xs="3" class="top_score_user__first">
        <img src="../../../../assets/images/user-profile.jpg" />
        <h3> 1 </h3>
        <h4> ramy  </h4>
        <p> 800 </p>
      </ion-col>
      <ion-col size-lg="1" size-md="4" size-sm="3" size-xs="3" class="top_score_user__third">
        <img src="../../../../assets/images/user-profile.jpg" />
        <h3> 3 </h3>
        <h4> rola </h4>
        <p> 400 </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
