<div class="success-block">
  <h3> Videos </h3>
  <ion-spinner *ngIf='isLoading' color="primary" name="crescent"></ion-spinner>
  <ion-grid>
    <ion-row>
      <ion-col size="6" class="success-photos" *ngFor="let item of allSuccessData">
        <!-- (click)="open(content)" -->
          <div class="success-button-play" >
            <!-- <ion-icon name="play"></ion-icon> -->
            <iframe width="100%" height="auto" [src]="item.youTubeVideoLink | safe" allowfullscreen></iframe>
          </div>
            <!-- <ng-template #content let-modal>
            <div class="modal-body">
            </div>
          </ng-template> -->
      </ion-col>
    </ion-row>
    <!-- <p *ngIf="!allSuccessData || allSuccessData.length <= 0">  No available images!  </p> -->
  </ion-grid>



</div>
