
.success-button-play {
  background-color: #fff;
  border-radius: 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 5px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  // margin-bottom: 10px;
  margin: 10px auto;

  ion-icon {
    text-align: center;
    color: #062F87;
    font-size: 80px;

  }
}


/* width */
::-webkit-scrollbar {
  width: 8px;
  border-radius: 20px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #062f87;
  border-radius: 20px !important;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8AFA6F;
}
